<script id="tableTemplate" type="text/x-jquery-tmpl">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Started</th>
        <th>Sql Duration</th>
        <th>Total Duration</th>
        <th>Request Start</th>
        <th>Response Start</th>
        <th>Dom Complete</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</script>
<script id="rowTemplate" type="text/x-jquery-tmpl">
  <tr>
    <td>
      <a href="${MiniProfiler.path}results?id=${id}">${name}</a></td>
    <td class="date">${MiniProfiler.renderDate(started)}</td>
    <td class="time">${duration_milliseconds_in_sql}</td>
    <td class="time">${duration_milliseconds}</td>
    {{if client_timings}}
    <td class="time">${MiniProfiler.getClientTimingByName(client_timings,"Request").start}</td>
    <td class="time">${MiniProfiler.getClientTimingByName(client_timings,"Response").start}</td>
    <td class="time">${MiniProfiler.getClientTimingByName(client_timings,"Dom Complete").start}</td>
    {{else}}
    <td colspan="3"></td>
    {{/if}}
  </tr>
</script>
