name: Mini Profiler Tests

on:
  pull_request:
  push:
    branches:
      - master

env:
  MEMCACHE_SERVERS: localhost:11211

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    services:
      memcached:
        image: memcached:1.6.9
        ports:
          - 11211:11211
        options: --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/udp/127.0.0.1/11211'" --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.4", "3.3", "3.2", "3.1"]
        redis: ["5.x"]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest # `gem update --system` is run to update to the latest compatible RubyGems version.
      - name: Setup redis
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: ${{ matrix.redis }}
      - name: Tests
        run: bundle exec rspec
      - name: Rubocop
        run: bundle exec rubocop
